#footer {
    margin-left: var(--nav-width);
}

#footer > .container {
    margin: 1rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    font-size: 2rem;
    font-weight: 500;
}

#footer > .container > .item > .link {
    text-decoration: none;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer > .container > .item > .link > .image {
    width: 5rem;
}
