@charset "UTF-8";

#main {
  margin-left: var(--nav-width);

  > .stretch-line {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.1rem;
    height: 0.1rem;
    background-color: #2e2e2f;
    flex-grow: 1;
  }

  .skill-container {
    box-sizing: border-box;

    .img-container {
      margin-bottom: 2rem;

      align-items: stretch;
      display: flex;
      flex-direction: row;
      gap: 10rem;
      justify-content: center;

      .wrapper {
        background-color: #ffffff;
        padding: 1rem 1rem;
        border: 0.25rem solid #212121;
        border-radius: 0.5rem;

        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;

        &:hover {
          transform: scale(105%);
        }
      }

      .item {
        width: 10rem;
      }

      .back {
        width: 13rem;

        .item {
          width: 7rem;
        }
      }
    }
  }
}
